extends layout/layout.jade
block content
  .popup
    .close
      img(src="imagenes/movil/x.png")
    .column
        picture
          //[if IE 9]><video style="display: none;"><![endif]
          source(srcset="imagenes/web/imagen_popup1.png",media="(min-width:1280px)")
          source(srcset="imagenes/tablet/imagen_popup1.png",media="(min-width:768px)")
          source(srcset="imagenes/movil/imagen_popup1.png",media="(min-width:320px)")
          //[if IE 9]></video><![endif]
          img(src="imagenes/movil/imagen_popup1.png")
    .column
      form(method="POST",action="http://c2s.dilootu.com/olo/WS_pro.php")
        p ¡TE LLAMAMOS GRATIS!
        input(type="text",name="src",placeholder="Escribe tu número",id="t")
        input(type="hidden",name="dst",value="200")
        button(type="submit")
          picture
            //[if IE 9]><video style="display: none;"><![endif]
            source(srcset="imagenes/web/boton_llamame_popup.png",media="(min-width:1280px)")
            source(srcset="imagenes/tablet/boton_llamame_popup.png",media="(min-width:768px)")
            source(srcset="imagenes/movil/boton_llamame_popup.png",media="(min-width:320px)")
            //[if IE 9]></video><![endif]
            img(src="imagenes/movil/boton_llamame_popup.png")
  header
    .wrapper
      picture
        //[if IE 9]><video style="display: none;"><![endif]
        //source(srcset="https://res-4.cloudinary.com/hpepcfrth/image/upload/t_media_lib_thumb/v1425520296/movil/tablet/web/logo.png",media="(min-width:1280px)")
        //source(srcset="https://res-3.cloudinary.com/hpepcfrth/image/upload/t_media_lib_thumb/v1425520216/movil/tablet/logo.png",media="(min-width:768px)")
        //source(srcset="https://res-1.cloudinary.com/hpepcfrth/image/upload/t_media_lib_thumb/v1425520134/movil/logo.png",media="(min-width:320px)")
        //[if IE 9]></video><![endif]
        img(src="https://res-4.cloudinary.com/hpepcfrth/image/upload/t_media_lib_thumb/v1425520296/movil/tablet/web/logo.png",alt="Olo logo")
      .right
        .content
          ul
            li
              a.st(href="#dsp") Dispositivos
            li
              a.st(href="#pl") Planes
        .content
          p Llámanos al:
          p (01)640-9697
          p si eres cliente llámanos al: (01) 706 8000
      nav
        .content
          ul
            li
              a.st(href="#dsp") Dispositivos
            li
              a.st(href="#pl") Planes

  section(data-role="slider")
    .follow.more
        a(href="")
          picture
            //[if IE 9]><video style="display: none;"><![endif]
            source(srcset="imagenes/web/te_llamamos_gratis.png",media="(min-width:1280px)")
            source(srcset="imagenes/tablet/tellamamos.png",media="(min-width:768px)")
            //[if IE 9]></video><![endif]
            img(src="imagenes/tablet/tellamamos.png")
    .row
      #slider
        .content.c1(data-color="blue")
          .wrapper
            a.more(href="#")
              picture
                //[if IE 9]><video style="display: none;"><![endif]
                source(srcset="imagenes/web/boton_mas_informacion.png",media="(min-width:1280px)")
                source(srcset="imagenes/tablet/boton_mas_informacion.png",media="(min-width:768px)")
                source(srcset="imagenes/movil/boton_mas_informacion.png",media="(min-width:320px)")
                //[if IE 9]></video><![endif]
                img(src="imagenes/movil/boton_mas_informacion.png")
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              source(srcset="imagenes/web/poster1.png",media="(min-width:1280px)")
              source(srcset="imagenes/tablet/poster1.png",media="(min-width:768px)")
              source(srcset="imagenes/movil/poster1.png",media="(min-width:320px)")
              //[if IE 9]></video><![endif]
              img(src="imagenes/movil/poster1.png",alt="")
        .content.c2(data-color="purple")
          .wrapper
            a.more(href="#")
              picture
                //[if IE 9]><video style="display: none;"><![endif]
                source(srcset="imagenes/web/boton_mas_informacion.png",media="(min-width:1280px)")
                source(srcset="imagenes/tablet/boton_mas_informacion.png",media="(min-width:768px)")
                source(srcset="imagenes/movil/boton_mas_informacion.png",media="(min-width:320px)")
                //[if IE 9]></video><![endif]
                img(src="imagenes/movil/boton_mas_informacion.png")
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              source(srcset="imagenes/web/poster2.png",media="(min-width:1280px)")
              source(srcset="imagenes/tablet/poster2.png",media="(min-width:768px)")
              source(srcset="imagenes/movil/poster2.png",media="(min-width:320px)")
              //[if IE 9]></video><![endif]
              img(src="imagenes/movil/poster2.png",alt="")
        .content.c3(data-color="green")
          .wrapper
            a.more(href="#")
              picture
                //[if IE 9]><video style="display: none;"><![endif]
                source(srcset="imagenes/web/boton_mas_informacion.png",media="(min-width:1280px)")
                source(srcset="imagenes/tablet/boton_mas_informacion.png",media="(min-width:768px)")
                source(srcset="imagenes/movil/boton_mas_informacion.png",media="(min-width:320px)")
                //[if IE 9]></video><![endif]
                img(src="imagenes/movil/boton_mas_informacion.png")
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              source(srcset="imagenes/web/poster3.png",media="(min-width:1280px)")
              source(srcset="imagenes/tablet/poster3.png",media="(min-width:768px)")
              source(srcset="imagenes/movil/poster3.png",media="(min-width:320px)")
              //[if IE 9]></video><![endif]
              img(src="image/movil/poster3.png",alt="")
    .row
      .triangle
  section(data-role="dispositivos")
    .title
      .wrapper
        h1#dsp NUESTROS DISPOSITIVOS
    ul.wrapper#slick-dsp
      li.dispositivo
        .content
          picture
            //[if IE 9]><video style="display: none;"><![endif]
            //source(srcset="imagenes/web/olo_movil.png",media="(min-width:1280px)")
            //source(srcset="imagenes/tablet/olo_movil.png",media="(min-width:768px)")
            //source(srcset="imagenes/movil/olo_movil.png",media="(min-width:320px)")
            //[if IE 9]></video><![endif]
            img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520302/movil/tablet/web/olo_movil.png")
          p.title OLO MÓVIL
          p.body Mantente conectado de forma inalámbrica estando en movimiento.
            | Duración de 6 horas diarias. Conexión hasta 5 dispositivos.
          img(src="imagenes/movil/precio_movil.png")
          a.more(href="#")
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              //source(srcset="imagenes/web/boton_quiero_este_olo",media="(min-width:1280px)")
              //source(srcset="imagenes/tablet/boton_quiero_este_olo",media="(min-width:768px)")
              //source(srcset="imagenes/movil/boton_quiero_este_olo",media="(min-width:320px)")
              //[if IE 9]></video><![endif]
              img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520296/movil/tablet/web/boton_quiero_este_olo.png")
      li.dispositivo
        .content
          picture
            //[if IE 9]><video style="display: none;"><![endif]
            //source(srcset="imagenes/web/olo_clasico.png",media="(min-width:1280px)")
            //source(srcset="imagenes/tablet/olo_clasico.png",media="(min-width:768px)")
            //source(srcset="imagenes/movil/olo_clasico.png",media="(min-width:320px)")
            //[if IE 9]></video><![endif]
            img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520300/movil/tablet/web/olo_clasico.png")
          p.title OLO CLÁSICO
          p.body Ideal para la casa. Conexión de hasta 8 equipos. Diseño moderno y liviano
            | No requiere de línea telefónica para su funcionamiento
          img(src="imagenes/movil/precio_clasico.png")
          a.more(href="#")
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              //source(srcset="imagenes/web/boton_quiero_este_olo",media="(min-width:1280px)")
              //source(srcset="imagenes/tablet/boton_quiero_este_olo",media="(min-width:768px)")
              //source(srcset="imagenes/movil/boton_quiero_este_olo",media="(min-width:320px)")
              //[if IE 9]></video><![endif]
              img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520296/movil/tablet/web/boton_quiero_este_olo.png")
      li.dispositivo
        .content
          picture
            //[if IE 9]><video style="display: none;"><![endif]
            //source(srcset="imagenes/web/olo_usb.png",media="(min-width:1280px)")
            //source(srcset="imagenes/tablet/olo_usb.png",media="(min-width:768px)")
            //source(srcset="imagenes/movil/olo_usb.png",media="(min-width:320px)")
            //[if IE 9]></video><![endif]
            img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520310/movil/tablet/web/olo_usb.png")
          p.title OLO USB
          p.body Mantente en línea a donde quiera que vayas, conectándose a 1 solo equipo.
            | Es flexible, liviano y fácil de llevar.
          img(src="imagenes/movil/precio_usb.png")
          a.more(href="#")
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              //source(srcset="imagenes/web/boton_quiero_este_olo",media="(min-width:1280px)")
              //source(srcset="imagenes/tablet/boton_quiero_este_olo",media="(min-width:768px)")
              //source(srcset="imagenes/movil/boton_quiero_este_olo",media="(min-width:320px)")
              //[if IE 9]></video><![endif]
              img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520296/movil/tablet/web/boton_quiero_este_olo.png")
      li.dispositivo
        .content
          picture
            //[if IE 9]><video style="display: none;"><![endif]
            //source(srcset="imagenes/web/olo_mini.png",media="(min-width:1280px)")
            //source(srcset="imagenes/tablet/olo_mini.png",media="(min-width:768px)")
            //source(srcset="imagenes/movil/olo_mini.png",media="(min-width:320px)")
            //[if IE 9]></video><![endif]
            img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520301/movil/tablet/web/olo_mini.png")
          p.title OLO MINI
          p.body Mantente conectado de forma inalámbrica estando en movimiento. Hasta 6 horas diarias
            | de duracion. Conexión hasta 8 productos WiFi.
          img(src="imagenes/movil/precio_mini.png")
          a.more(href="#")
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              //source(srcset="imagenes/web/boton_quiero_este_olo",media="(min-width:1280px)")
              //source(srcset="imagenes/tablet/boton_quiero_este_olo",media="(min-width:768px)")
              //source(srcset="imagenes/movil/boton_quiero_este_olo",media="(min-width:320px)")
              //[if IE 9]></video><![endif]
              img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520296/movil/tablet/web/boton_quiero_este_olo.png")
      li.dispositivo
        .content
          picture
            //[if IE 9]><video style="display: none;"><![endif]
            //source(srcset="imagenes/web/olo_fijo.png",media="(min-width:1280px)")
            //source(srcset="imagenes/tablet/olo_fijo.png",media="(min-width:768px)")
            //source(srcset="imagenes/movil/olo_fijo.png",media="(min-width:320px)")
            //[if IE 9]></video><![endif]
            img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520298/movil/tablet/web/olo_fijo.png")
          p.title OLO FIJO
          p.body Ideal para la casa u oficina. Conexión de hasta 8 equipos wifi. Fácil de transportar.
            | Cuenta con un puerto ethernet y un puerto lan.
          img(src="imagenes/movil/precio_fijo.png")
          a.more(href="#")
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              //source(srcset="imagenes/web/boton_quiero_este_olo",media="(min-width:1280px)")
              //source(srcset="imagenes/tablet/boton_quiero_este_olo",media="(min-width:768px)")
              //source(srcset="imagenes/movil/boton_quiero_este_olo",media="(min-width:320px)")
              //[if IE 9]></video><![endif]
              img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520296/movil/tablet/web/boton_quiero_este_olo.png")
      li.dispositivo
        .content
          picture
            //[if IE 9]><video style="display: none;"><![endif]
            //source(srcset="imagenes/web/olo_movil.png",media="(min-width:1280px)")
            //source(srcset="imagenes/tablet/olo_movil.png",media="(min-width:768px)")
            //source(srcset="imagenes/movil/olo_movil.png",media="(min-width:320px)")
            //[if IE 9]></video><![endif]
            img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520302/movil/tablet/web/olo_movil.png")
          p.title OLO MÓVIL
          p.body Mantente conectado de forma inalámbrica estando en movimiento.
            | Duración de 6 horas diarias. Conexión hasta 5 dispositivos.
          img(src="imagenes/movil/precio_movil.png")
          a.more(href="#")
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              //source(srcset="imagenes/web/boton_quiero_este_olo",media="(min-width:1280px)")
              //source(srcset="imagenes/tablet/boton_quiero_este_olo",media="(min-width:768px)")
              //source(srcset="imagenes/movil/boton_quiero_este_olo",media="(min-width:320px)")
              //[if IE 9]></video><![endif]
              img(src="http://res.cloudinary.com/hpepcfrth/image/upload/v1425520296/movil/tablet/web/boton_quiero_este_olo.png")
  section(data-role="planes")
    .title
      .wrapper
        h1#pl PLANES RECOMENDADOS
    ul.wrapper#slick-pls
      li.plan
        .content
          .column
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              source(srcset="imagenes/web/plansemanal.png",media="(min-width:1280px)")
              source(srcset="imagenes/tablet/plansemanal.png",media="(min-width:768px)")
              source(srcset="imagenes/movil/plansemanal.png",media="(min-width:320px)")
              img(src="imagenes/movil/plansemanal.png")
          .column
            p.title OLO SEMANAL
            p.limit Hasta 1 Mega de velocidad
            p DESCARGAS LIMITADAS
            p.limit2 HASTA 1GB de descarga
            img(src="imagenes/movil/precio_planesemanal.png")
            a.more(href="")
              img(src="imagenes/movil/boton_quiero_este_plan.png")
            p.condicion Plan valido
              br
              |solo para el
              br
              | dispositivo USB
      li.plan
        .content
          .column
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              source(srcset="imagenes/web/planmensual.png",media="(min-width:1280px)")
              source(srcset="imagenes/tablet/planmensual.png",media="(min-width:768px)")
              source(srcset="imagenes/movil/planmensual.png",media="(min-width:320px)")
              img(src="imagenes/movil/planmensual.png")
          .column
            p.title OLO MENSUAL
            p.limit Hasta 1 Mega de velocidad
            p DESCARGAS LIMITADAS
            p.limit2 Hasta 3GB de descarga
            img(src="imagenes/movil/precio_planesemanal.png")
            a.more(href="")
              img(src="imagenes/movil/boton_quiero_este_plan.png")
            p.condicion Plan valido
              br
              |solo para el
              br
              | dispositivo USB
      li.plan
        .content
          .column
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              source(srcset="imagenes/web/planeconomico.png",media="(min-width:1280px)")
              source(srcset="imagenes/tablet/planeconomico.png",media="(min-width:768px)")
              source(srcset="imagenes/movil/planeconomico.png",media="(min-width:320px)")
              img(src="imagenes/movil/planeconomico.png")
          .column
            p.title OLO ECONÓMICO
            p.limit Hasta 1 y 3 Megas de velocidad
            p DESCARGAS ILIMITADAS
            p.limit2 HASTA 1GB de descarga
            img(src="imagenes/movil/precio_planesemanal.png")
            a.more(href="")
              img(src="imagenes/movil/boton_quiero_este_plan.png")
      li.plan
        .content
          .column
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              source(srcset="imagenes/web/plantrabajador.png",media="(min-width:1280px)")
              source(srcset="imagenes/tablet/plantrabajador.png",media="(min-width:768px)")
              source(srcset="imagenes/movil/plantrabajador.png",media="(min-width:320px)")
              img(src="imagenes/movil/plantrabajador.png")
          .column
            p.title OLO TRABAJADOR
            p.limit Hasta 1 y 3 Megas de velocidad
            p DESCARGAS LIMITADAS
            p.limit2 HASTA 3GB de descarga
            img(src="imagenes/movil/precio_planesemanal.png")
            a.more(href="")
              img(src="imagenes/movil/boton_quiero_este_plan.png")
      li.plan
        .content
          .column
            picture
              //[if IE 9]><video style="display: none;"><![endif]
              source(srcset="imagenes/web/planrelax.png",media="(min-width:1280px)")
              source(srcset="imagenes/tablet/planrelax.png",media="(min-width:768px)")
              source(srcset="imagenes/movil/planrelax.png",media="(min-width:320px)")
              img(src="imagenes/movil/planrelax.png")
          .column
            p.title OLO RELAX
            p.limit Hasta 1 Mega de velocidad
            p DESCARGAS ILIMITADAS
            p.limit2 Velocidad mínima garantizada 410Kbps
            img(src="imagenes/movil/precio_planesemanal.png")
            a.more(href="")
              img(src="imagenes/movil/boton_quiero_este_plan.png")
  footer
    p Página promocional autorizada/
    p Para mayor información visita: www.olo.pe
  script(data-main="js/main",src="js/vendor/require.js",async)
