@require 'vendor/normalize.css'
//colors
$fontColor = green
$grayDots = lightgray
$gray1 = #6f6f6f
$purple = #662d91
$blue = #00aeef
$green = #00a651
//end
//Clases
.popup
  display none
  width 90%
  margin 0 auto
  background-color $blue
  position fixed
  z-index 10
  color white
  left 0
  right 0
  top 220px
  .close
    position absolute
    top -12px
    right -12px
    cursor pointer
  .column
    display inline-block
    vertical-align middle
    width 50%
    text-align center
    &:last-child
      p
        //font-size 2.44rem
        font-size 1.11rem
        font-weight bold
        line-height 120%
      input
        //font-size 1.16rem
        font-size .611rem
        line-height 120%
        border-radius .4rem
        margin 0 auto
        color black
        padding 10px
        border 0
        display block
      button
        display block
        background-color transparent
        border 0
        margin 0 auto
        margin-top 10px
.title
  color white
  h1
    font-size 2.22rem
    padding-top 1.88rem
    padding-bottom 1.33rem
.wrapper
  max-width 1280px
  margin 0 auto
  position relative
.triangle
  width 0
  height 0
  border-left 20px solid transparent
  border-right 20px solid transparent
  border-top 20px solid $blue
  margin 0 auto

.slick-dots
  margin 0 auto
  text-align center
  margin-top 30px
  bottom -60px
  & li
    margin-left .6rem
    margin-right .6rem
    &:nth-child(1)
      button:before
        background-color $blue
    &:nth-child(2)
      button:before
        background-color $purple
    &:nth-child(3)
      button:before
        background-color $green
  & li.slick-active
    button::before
      color transparent
  & li button::before
    color transparent
    width 20px
    height 20px
    background-color rgba(211,211,211,.6)
    display inline-block
    margin-left 4px
    margin-right 4px
    border-radius 50%
    cursor pointer
    &.active
      background-color rgba(211,211,211,1)
//end
*
  box-sizing border-box
  margin 0
  padding 0
img
  display block
a
  text-decoration none
  color inherit
h1,h2,h3,h4,h5,h6
  line-height 120%
  margin 0
  text-align left
  padding-left 10px
section
  margin-top 20px
  position relative
ul
  margin 0
  padding 0
  li
    list-style-type none
body
  margin 0 auto
  font-size 18px
  color $fontColor
  header
    position relative
    top 0
    left 0
    right 0
    margin-right auto
    margin-left auto
    background-color white
    z-index 2
    .wrapper
      text-align center
      picture
        border-bottom 1px solid $gray1
        padding-bottom 10px
        display block
        img
          margin 0 auto
      .right
        margin-top 10px
        .content
          &:first-child
            display none
          &:last-child
            p
              &:first-child
                font-size 1.44rem
                &+p
                  font-size 1.66rem
              &:last-child
                font-size .66rem
                color $gray1
      nav
        margin-top 10px
        li
          font-size 0
          display inline-block
          width 50%
          padding-top 10px
          padding-bottom 10px
          text-align center
          &:first-child
            background-color $blue
          &:last-child
            background-color $purple
          a
            font-size .88rem
            color white

  section[data-role="slider"]
    margin-top 10px
    margin-bottom 50px
    .follow
      display none
    .row
      &:last-child
        margin-top -30px
    #slider
      .more
        position absolute
        margin-top 50px
        bottom 5px
        right 0
        width 45%
        img
          display block
          margin 0 auto
          width auto !important
      .content
        img
          width 100%
        &.c1
          background-color $blue
        &.c2
          background-color $purple
        &.c3
          background-color $green
  section[data-role="dispositivos"]
    margin-bottom 50px
    .title
      background-color $blue
      h1
        font-size 1rem
        padding .722rem
        width 90%
        margin 0 auto
    ul.wrapper
      margin-top 20px
      .dispositivo
        display inline-block
        padding 10px
        .content
          background-color $blue
          text-align center
          padding 10px
          width 90%
          margin 0 auto
          a
            img
              margin-top 10px
          .title
            font-size 2.11rem
            line-height 120%
            margin-top 20px
            margin-bottom 10px
          .body
            font-size .77rem
          img
            display block
            margin 0 auto
            margin-top 10px
          p
            color white
    #slick-dsp
      .slick-dots
        bottom -40px
        li
          button::before
            background-color $blue
  section[data-role="planes"]
    margin-bottom 70px
    .title
      background-color $purple
      h1
        font-size 1rem
        padding .722rem
        width 90%
        margin 0 auto
    ul.wrapper
      margin-top 20px
      .plan
        padding 10px
        .content
          background-color $purple
          text-align left
          color white
          padding 10px
          background-image url("../imagenes/tramas_planes.png")
          background-position 0 0
          width 80%
          margin 0 auto
          max-width 250px
          p
            color white
          .column
            display block
            picture
              img
                margin 0 auto
            &:last-child
              position relative
              padding-left 10px
              color white
              text-align center
              font-size .66rem
              img
                display block
                margin 0 auto
                margin-top 4px
              .title
                font-size 1.11rem
                margin-top 10px
              .limit
                background-color white
                color $purple
                margin-top 10px
                padding 3px
                &+p
                  margin-top 5px
              .limit2
                font-size .55rem
                margin-top 5px
              .condicion
                font-size .55rem
                bottom: 30px;
                line-height: 120%;
                position: absolute;
                text-align: left;
    #slick-pls
      .slick-dots
        bottom -40px
        li
          button::before
            background-color $purple
  footer
    background-image url("../imagenes/movil/piedepagina.jpg")
    background-position center top
    background-repeat no-repeat
    background-size 100% 100%
    padding-top 25px
    padding-bottom 25px
    text-align center
    p
      color white
      margin 0
      padding 0
      display inline-block
      font-size .88rem
      &:first-child
        text-transform uppercase
@media screen and (min-width:768px)
  .popup
    max-width 630px
    .column:last-child
      p
        font-size 1.88rem
      input
        font-size 1rem
  body
    header
      position fixed
      .wrapper
        text-align right
        picture
          border-bottom 0
          float left
        .right
          display inline-block
          .content
            position relative
            &:last-child
              padding-right 20px
              width 300px
              p
                &:first-child
                  padding-top 15px
                &:last-child
                  width 100%
                  top 0
                  right 20px
                  position absolute
    section[data-role="slider"]
      margin-top 140px
      .follow
        display block
        position fixed
        right 0
        top 150px
        z-index 10
    section[data-role="planes"]
      ul.wrapper
        .plan
          //float none
          width 50% !important
          //display inline-block
          &:nth-child(odd)
            .content
              margin-right 0
              margin-left auto
          &:nth-child(even)
            .content
              margin-right auto
              margin-left 0
          &:last-child
            width 100% important
            margin 0 auto
            display block
            float none
            clear both
            .content
              margin 0 auto
      #slick-pls
          margin 0 auto
          margin-top 20px
@media screen and (min-width:1280px)
  .popup
    max-width 820px
    .column:last-child
      p
        font-size 2.44rem
      input
        margin-top 20px
        font-size 1.66rem
  body
    header
      .wrapper
        nav
          display none
        .right
          .content
            display inline-block
            &:first-child
              display inline-block
              li
                display inline-block
                padding-top 10px
                padding-bottom 10px
                padding-left 20px
                padding-right 20px
                text-align center
                &:first-child
                  background-color $blue
                &:last-child
                  margin-left 5px
                  background-color $purple
                  margin-right 30px
                a
                  color white
            &:last-child
              border-left 1px solid $grayDots
              p
                &:first-child
                  font-size 1.33rem
                  &+p
                    font-size 1.77rem
                &:last-child
                  font-size .88rem


    section[data-role="slider"]
      margin-top 100px
      #slider
        .more
          bottom 30px
    section[data-role="planes"]
      .title
        h1
          margin 0 auto
          font-size 2.22rem
          text-align left
          max-width 940px
      ul.wrapper
        .plan
          .content
            max-width 450px
            .column
              display inline-block
              vertical-align top
              &:last-child
                width 220px
                p
                  &.title
                    margin-top 0
    section[data-role="dispositivos"]
      ul.wrapper
        .dispositivo
          .content
            width 100%
      .title
        h1
          margin 0 auto
          font-size 2.22rem
          text-align left
          max-width 940px
      #slick-dsp
        max-width 940px
